external/portaudio/Makefile
external/portaudio/config.log
external/portaudio/config.status
external/portaudio/libtool
external/portaudio/portaudio-2.0.pc
external/portaudio/bin
external/portaudio/bin-stamp
external/portaudio/lib
external/portaudio/lib-stamp
*.o
*.lo
